<!-- The content below is only a placeholder and can be replaced. -->
<div class="container">
  <div class="container__side-navigator">
    <header class="header">
      <img class="header__img"
        src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50"
      />
    </header>
    <wa-search></wa-search>
    <wa-conversation-list></wa-conversation-list>
  </div>
  <div class="container__main-view">
    <header class="header">asd</header>
    Chat
  </div>
</div>
<router-outlet></router-outlet>
